# Excluir PDFs y material del curso / enunciados de hitos
Hito1/
Hito2/
Hito3/
Hito4/
*.pdf

# Directorios de compilación Backend (Java / Maven / Spring Boot)
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Base de datos local y docker volumes
postgres_data/
*.db

# Directorios de compilación y dependencias Frontend (Node / Vite)
node_modules/
dist/
dist-ssr/
*.local
.npm

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/load-from-server.xml

### VS Code ###
.vscode/

### OS / Misc ###
.DS_Store
Thumbs.db
*.log
